<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

<div class="container text-center">
<h1>Password Generator</h1>

<form action="{% url 'password' %}">

	<select name="length"> 
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5">5</option>
		<option value="6">6</option>
		<option value="7">7</option>
		<option value="8">8</option>
		<option value="9">9</option>
	</select> Length
	<br>
	<input type="checkbox" name="uppercase"> Uppercase
	<br>
	<input type="checkbox" name="numbers"> Numbers
	<br>
	<input type="checkbox" name="special"> Specials
	<br>
	<input type="submit" value="Generate Password" class="btn btn-primary">
</form>
</div>
